body {
  background: url("/img/img1.jpg") no-repeat center center fixed;
  background-size: cover;
  height: 100vh;
}

#cancel {
  padding: 10px;
}

#logout {
  background-color: red;
  color: white;
  padding: 10px;
  border-radius: 10px;
  text-decoration: none;
  font-size: 18px;
}
